<div class="computer-parts__container">
  <div class="actions">
    <input class="actions__choose" type="file" (change)="onChange($event)" />
    <button (click)="onUpload()">Upload</button>
    <input
      type="number"
      [(ngModel)]="taxPercentage"
      min="0"
      (ngModelChange)="validateTaxInput()"
    />
    <button (click)="getParts()">Calculate tax</button>
  </div>

  <div class="table" *ngIf="parts.length">
    <div class="header">
      <span class="header__box">Id</span>
      <span class="header__box">Description</span>
      <span class="header__box">Brand</span>
      <span class="header__box">Color</span>
      <span class="header__box">Price</span>
      <span class="header__box">Price with tax</span>
    </div>
    <div class="content" *ngFor="let part of parts">
      <span class="content__box">{{ part.id }}</span>
      <span class="content__box">{{ part.description }}</span>
      <span class="content__box">{{ part.brand }}</span>
      <span class="content__box">{{ part.color }}</span>
      <span class="content__box">{{ part.basePrice }}</span>
      <span class="content__box">{{ part.taxPrice }}</span>
    </div>
  </div>
</div>
